*{
    margin: 0;
    padding: 0;
}
.logo{
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}
.logo img{
    width: 100%;
    border: 3px ;
    border-radius: 16px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top:0;
    cursor: pointer;
    list-style: none;
    text-transform: none;
    text-decoration: none;
    width: 100%;
    font-weight: 300;
    font-family: 'Lato', Arial, sans-serif;
    line-height: 20px;
    z-index: 999
}
.navlist{
    width: 50%;
    display: flex;
    
}

.navlist li{
    list-style: none;
    padding: 26px 30px;
}
.navlist li a{
    text-decoration: none;
    color: white;
    font-family: fantasy;
}

.navlist li a:hover{
    color: #ffa31a;
}
.rightnav{
    width: 50%;
    text-align: right;
    display:block;
}
#search{
    padding: 8px;
    font-size: 15px;
    border: 3px black;
    border-radius: 20px;
}
.background{
    background: rgba(0,0,0,0.7) url("../img/BG1.jpeg");
    background-size: cover;
    background-blend-mode: darken;
}
.form1{
    position: relative;
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.7) url("../img/BG1.jpeg");
    background-size:cover ;
    background-position: center;
    font-family: 'roboto',sans-serif;
    background-blend-mode: darken;
}
.form{
    width: 400px;
    height: auto;
    color: #ffa31a;
    font-family: Arial, Helvetica, sans-serif;
}
.heading{
    text-transform: capitalize;
    text-align: center;
    font-size: 80px;
    font-weight: 300;
    margin-bottom: 50px;
}
input,
.submit-btn{
    opacity: 0;
    width: 80%;
    height: 35px;
    display: block;
    margin: 20px auto;
    border-radius: 5px;
    background:#f9f9f941;
    border: none;
    color: #ffa31a;
    padding: 15px;
    transition: .5s;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
}

input::placeholder{
    color: #0e0d0d;
}
.submit-btn:hover{
    background: #fff;
    color: #111010;
}

input:focus::placeholder{
    color: #000;
}

.submit-btn{
    width: auto;
    padding: 0 20px;
    cursor: pointer;
    margin: 50px auto 0;
    opacity: 0;
}

.link{
    opacity: 0;
    text-align: center;
    text-transform: capitalize;
    color: #ffa31a;
    display: block;
    margin: 30px auto;
}

.link:hover{
    color: #fff;
}

.alert-box{
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translateX(-50%);
    min-width: 150px;
    max-width: 90%;
    width: auto;
    height: auto;
    padding: 10px;
    text-transform: capitalize;
    background: rgb(255, 119, 119);
    border-top: 10px solid rgb(255, 37, 37);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #fff;
    font-family: 'roboto', sans-serif;
    text-align: center;
    transition: 1s;
}
.footer{
    background-color: rgb(7, 1, 1);
    padding: 200px 20px;
    border-top: 5px solid #ffa31a;
    justify-content: space-around;
}
.footer{
    max-width: 1900px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    color:#ffa31a;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.footer-logo img{

    width: 8.0rem;
    height: 8.0rem;
    border-radius: 70px;
}
.footer-links strong{
    color:#ffa31a;
    font-size: 1.4rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}
.footer-links ul li a{
    margin-top: 10px;
}
.footer-links ul li a{
    color: aliceblue;
    opacity: 0.5;
    margin: 4px 0px;
    font-size: 0.9rem;
    letter-spacing: 1px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
.footer-links ul li a:hover{
    opacity: 1.0;
}
.footer-links1 strong{
    color:#ffa31a;
    font-size: 1.4rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}
.footer-links1 ul li a{
    margin-top: 10px;
}
.footer-links1 ul li a{
    color: aliceblue;
    opacity: 0.5;
    margin: 4px 0px;
    font-size: 0.9rem;
    letter-spacing: 1px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
.footer-links1 ul li a:hover{
    opacity: 1.0;
}
.contact-links strong{
    color:#ffa31a;
    font-size: 1.4rem;
    font-family: 'Segoe UI';
    font-weight: 600;
}
.contact-links ul li{
    color: aliceblue;
    opacity: 0.5;
    margin: 4px 0px;
    font-size: 0.9rem;
    letter-spacing: 1px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
.contact-links ul li:hover{
    opacity: 1.0;
}