*{
    margin: 0;
    padding: 0;
}
.logo{
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}
.logo img{
    width: 100%;
    border: 3px ;
    border-radius: 16px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top:0;
    cursor: pointer;
    list-style: none;
    text-transform: none;
    text-decoration: none;
    width: 100%;
    font-weight: 300;
    font-family: 'Lato', Arial, sans-serif;
    line-height: 20px;
    z-index: 999
}
.navlist{
    width: 50%;
    display: flex;
    
}

.navlist li{
    list-style: none;
    padding: 26px 30px;
}
.navlist li a{
    text-decoration: none;
    color: white;
    font-family: fantasy;
}

.navlist li a:hover{
    color: #ffa31a;
}
.rightnav{
    width: 50%;
    text-align: right;
    display:block;
}
#search{
    padding: 8px;
    font-size: 15px;
    border: 3px black;
    border-radius: 20px;
}
.background{
    background: rgba(0,0,0,0.7) url("../img/BG1.jpeg");
    background-size: cover;
    background-blend-mode: darken;
}
.container{
    position: relative;
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.7) url("../img/BG1.jpeg");
    background-size:cover ;
    background-position: center;
    font-family: 'roboto',sans-serif;
    background-blend-mode: darken;
}
.contain{
    position: relative;
    width: 90%;
    height: 87vh;
    border: 5px solid #ffa31a;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffa31a;
}

.submit-btn{
    position: absolute;
    top: 10px;
    right: 0;
    padding: 10px 20px;
    text-transform: capitalize;
    font-size: 16px;
    display: inline-block;
    background-color:#ffa31a;
    color: #faf7f7;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 10px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
.welcome{
    font-size: 100px;
    font-family: 'dosis';
    color: #ffa31a;
    font-weight: 800;
    text-transform: capitalize;
}
.orders{
    text-align: center;
    padding: 40px 80px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1b1b1b;
}
.yourorders{
    display:flex;

    padding-top: 20px;
    flex-wrap: wrap;
}
.yourorders .pro{
    width: 50%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid#cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(221, 14, 14, 0.02);
    margin: 15px 0px;
    transition: 0.5s ease;
    position: relative;
}
.yourorders .pro:hover{
    box-shadow: 20px 20px 30px rgb(241, 232, 232);
}
.yourorders .pro img{
    width: 100%;
    border-radius: 20px;
    display: flex;
}
.yourorders .pro1{
    display: flex;
    flex-direction: column;
    margin: 15px 10px;
}
.yourorders .pro1 .des1{
    font-size:large;
    justify-content: center;
    text-align:center;
    padding: 10px 0px;
    color: rgb(236, 244, 25);
    margin: 30px;
}
.yourorders .pro .des{
    
    text-align: start;
    padding: 10px 0px;
    color: rgb(236, 244, 25);
}
.yourorders .pro .des span{
    color: #dfc70f;
    font-size: 12px;
    display: flex;
}
.yourorders .pro1{
    color: aliceblue;
    text-align: center;
    font-size: 5rem;
}
.btn-tr{
    display: inline-block;
    background-color:#1b1b1b;
    color: #ffa31a;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 10px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}
.footer{
    background-color: rgb(7, 1, 1);
    padding: 200px 20px;
    border-top: 5px solid #ffa31a;
    justify-content: space-around;
}
.footer{
    max-width: 1900px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    color:#ffa31a;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.footer-logo img{

    width: 8.0rem;
    height: 8.0rem;
    border-radius: 70px;
}
.footer-links strong{
    color:#ffa31a;
    font-size: 1.4rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}
.footer-links ul li a{
    margin-top: 10px;
}
.footer-links ul li a{
    color: aliceblue;
    opacity: 0.5;
    margin: 4px 0px;
    font-size: 0.9rem;
    letter-spacing: 1px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
.footer-links ul li a:hover{
    opacity: 1.0;
}
.footer-links1 strong{
    color:#ffa31a;
    font-size: 1.4rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}
.footer-links1 ul li a{
    margin-top: 10px;
}
.footer-links1 ul li a{
    color: aliceblue;
    opacity: 0.5;
    margin: 4px 0px;
    font-size: 0.9rem;
    letter-spacing: 1px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
.footer-links1 ul li a:hover{
    opacity: 1.0;
}
.contact-links strong{
    color:#ffa31a;
    font-size: 1.4rem;
    font-family: 'Segoe UI';
    font-weight: 600;
}
.contact-links ul li{
    color: aliceblue;
    opacity: 0.5;
    margin: 4px 0px;
    font-size: 0.9rem;
    letter-spacing: 1px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
.contact-links ul li:hover{
    opacity: 1.0;
}